# Dependencies
node_modules/
.venv/
venv/

# Python caches
__pycache__/
*.py[cod]
*$py.class
.ruff_cache/

# Build & testing outputs
frontend/build/
build/
dist/
coverage/

# Environment files
.env
.env.local
.env.*.local

# IDEs & Editor configs
.idea/
.vscode/

# Logs & temp files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test.http
